<h1>Simple Wysiwyg</h1>

<h2>Demo</h2>

{{#em-wysiwyg configName="bs" as_html=data}}
    {{#em-wysiwyg-toolbar}}
        {{#em-wysiwyg-action-group}}
            {{em-wysiwyg-action command="bold" title="Bold (Ctrl/Cmd+B)" icon="fa fa-bold"}}
            {{em-wysiwyg-action command="italic" title="Italic (Ctrl/Cmd+I)" icon="fa fa-italic"}}
            {{em-wysiwyg-action command="strikethrough" title="Strikethrough" icon="fa fa-strikethrough"}}
            {{em-wysiwyg-action command="underline" title="Underline (Ctrl/Cmd+U)" icon="fa fa-underline"}}
            {{em-wysiwyg-action-format icon="fa fa-text-height"}}
        {{/em-wysiwyg-action-group}}
        {{#em-wysiwyg-action-group}}
            {{em-wysiwyg-action command="justifyleft" title="Align Left (Ctrl/Cmd+L)" icon="fa fa-align-left"}}
            {{em-wysiwyg-action command="justifycenter" title="Align Center (Ctrl/Cmd+E)" icon="fa fa-align-center"}}
            {{em-wysiwyg-action command="justifyright" title="Align Right (Ctrl/Cmd+R)" icon="fa fa-align-right"}}
            {{em-wysiwyg-action command="justifyfull" title="Justify (Ctrl/Cmd+J)" icon="fa fa-align-justify"}}
        {{/em-wysiwyg-action-group}}
        {{#em-wysiwyg-action-group}}
            {{em-wysiwyg-action command="undo" title="Undo(Ctrl/Cmd+Z)" icon="fa fa-undo"}}
            {{em-wysiwyg-action command="redo" title="Redo (Ctrl/Cmd+Y)" icon="fa fa-repeat"}}
        {{/em-wysiwyg-action-group}}
        {{#em-wysiwyg-action-group}}
            {{em-wysiwyg-action-link title="Insert Link" icon="fa fa-link"}}
        {{/em-wysiwyg-action-group}}
    {{/em-wysiwyg-toolbar}}
    {{em-wysiwyg-editor}}
{{/em-wysiwyg}}

<h2>Markup</h2>

<div class="well line-example">
    <pre><code class="handlebars">
\{{#em-wysiwyg configName="bs" as_html=wtf}}
    \{{#em-wysiwyg-toolbar}}
        \{{#em-wysiwyg-action-group}}
            \{{em-wysiwyg-action command="bold" title="Bold (Ctrl/Cmd+B)" icon="fa fa-bold"}}
            \{{em-wysiwyg-action command="italic" title="Italic (Ctrl/Cmd+I)" icon="fa fa-italic"}}
            \{{em-wysiwyg-action-format icon="fa fa-text-height"}}
        \{{/em-wysiwyg-action-group}}
        \{{#em-wysiwyg-action-group}}
            \{{em-wysiwyg-action command="justifyleft" title="Align Left (Ctrl/Cmd+L)" icon="fa fa-align-left"}}
            \{{em-wysiwyg-action command="justifyright" title="Align Right (Ctrl/Cmd+R)" icon="fa fa-align-right"}}
        \{{/em-wysiwyg-action-group}}
        \{{#em-wysiwyg-action-group}}
            \{{em-wysiwyg-action command="undo" title="Undo(Ctrl/Cmd+Z)" icon="fa fa-undo"}}
            \{{em-wysiwyg-action command="redo" title="Redo (Ctrl/Cmd+Y)" icon="fa fa-repeat"}}
        \{{/em-wysiwyg-action-group}}
        \{{#em-wysiwyg-action-group}}
            \{{em-wysiwyg-action-link title="Insert Link" icon="fa fa-link"}}
        \{{/em-wysiwyg-action-group}}
    \{{/em-wysiwyg-toolbar}}
    \{{em-wysiwyg-editor}}
\{{/em-wysiwyg}}
    </code></pre>
</div>